<div class="container-fluid">
  <div class="faqs-block">
    <p class="block-title">Frequently Asked Questions</p>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-right-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">What is the life of the solar panels?</p>
            </div>
            <p class="question-answer">
                Solar panels come with a product warranty of 10 years and a performance output warranty of at least 80% after 25 years.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-left-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">Does the system require a battery?</p>
            </div>
            <p class="question-answer">
                An on-grid system requires no batteries, but off-grid and hybrid systems have batteries. For more information, refer to our detailed description of off-grid systems and hybrid-systems.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-right-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">Does the system work on cloudy/rainy days</p>
            </div>
            <p class="question-answer">
                The system requires sunlight to function. Even on a cloudy/rainy day, some amount of sunlight gets through the clouds, so your system will still produce electricity, thought at a reduced efficiency. This reduction is however compensated by excess production during sunny and clear days in summer and winter.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-left-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">Will I be able to run ACs, fridge, motors and other heavy appliances on this system?</p>
            </div>
            <p class="question-answer">
                In an on-grid and hybrid system when the grid supply is available, you will be able to run every appliance in your household. On-grid systems do not generate power when the grid is down. In off-grid and hybrid systems, when the grid is not available the number of appliances you can run is limited by inverter and battery capacity. The system can be designed to accommodate whichever load you might deem critical to run during a power outage.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-right-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">What is retirement of a carbon credit?</p>
            </div>
            <p class="question-answer">
                The auditing agencies which allocate carbon credits to green projects maintain registries to keep track of the allotted carbon credit. Each carbon credit is allotted a unique identification number. To ensure that a carbon credit leads to actual emission reductions, it needs to be ‘retired’ on the registry i.e. it should be taken out of circulation and no longer be available for trading. This is equivalent to saying that 1 ton of CO2 has been taken out of our atmosphere.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-left-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">Can the panels be damaged by hail storms, an object falling on them etc?</p>
            </div>
            <p class="question-answer">
                The panels are made of toughened glass and can't be damaged by hail storms or even by monkeys jumping on them, as can happen in Indian cities.
            </p>
        </div>
    </div>
  </div>
</div>
