<div class="container-fluid">
  <div class="faqs-block">
    <p class="block-title">Frequently Asked Questions</p>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-right-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">Why should I support a project on Earth 47?</p>
            </div>
            <p class="question-answer">
                From the electricity that powers our homes, to the fuel that runs our cars- everything leads to an increase in atmospheric CO2. While we as individuals did not create this economic model, it is the current reality of the world that we live in.
                Failing to act deteriorates our living conditions with each passing day and will soon result in a world which none of us want to inhabit. So while we might not have caused the problem, fighting it is a responsibility that falls on all of us if we want a better tomorrow for ourselves and our children.
                It isn’t practically possible for us to have a carbon neutral lifestyle until the economy shifts to a greener model. But right now, we can aid in this transition to a greener future by supporting projects which are reducing CO2 emissions across the globe, thus doing our part to fight climate change. 
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-left-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">How does my contribution help fight climate change?</p>
            </div>
            <p class="question-answer">
                All projects listed on Earth 47 reduce greenhouse gas emissions. Since greenhouse gases are the cause of climate change, a reduction in them directly helps counter it.  
                All our projects undergo an audit to measure the amount of CO2 or other greenhouse gases reduced by them. For every ton of CO2 reduced by these projects, they are allocated 1 carbon credit from the auditing body.
                When you support a project on Earth 47, your money goes towards the purchase and retirement of these carbon credits from the project- thus ensuring that your contribution is tied to a verifiable, measurable reduction in CO2. You can read more about carbon credits and their retirement here and here.
                The funds raised from the sale of the carbon credit help the project remain viable and even expand, thus increasing its impact in the fight against climate change.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-right-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">How does Earth 47 select projects?</p>
            </div>
            <p class="question-answer">
                The team at Earth 47 assesses projects across the globe and selects projects which have passed the most stringent audits and have a verifiable impact on CO2 reduction. Each project must be certified by Gold Standard, a Switzerland based not for profit which is widely considered to have the strictest additionality & social benefit criteria for certifying projects- thus ensuring that every contribution of yours makes a real impact on the ground.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-left-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">What is a carbon credit?</p>
            </div>
            <p class="question-answer">
                Carbon credits are financial instruments created as a result of the Kyoto climate change conference in 1992. Whenever a project reduces 1 ton of CO2 emissions they are allotted 1 carbon credit (1 ton = 1 carbon credit) by an auditing and certification agency. These carbon credits can be traded by the projects to improve their financial viability.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-right-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">What is retirement of a carbon credit?</p>
            </div>
            <p class="question-answer">
                The auditing agencies which allocate carbon credits to green projects maintain registries to keep track of the allotted carbon credit. Each carbon credit is allotted a unique identification number. To ensure that a carbon credit leads to actual emission reductions, it needs to be ‘retired’ on the registry i.e. it should be taken out of circulation and no longer be available for trading. This is equivalent to saying that 1 ton of CO2 has been taken out of our atmosphere.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-left-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">How do I know my contribution is making a difference?</p>
            </div>
            <p class="question-answer">
                Each contribution on Earth 47 goes towards the purchase of carbon credits from the projects. Each carbon credit equals one ton of CO2 reduced from the atmosphere. Since greenhouse gases are the cause of climate change- a reduction in CO2 directly equals a direct impact in the fight against it. 
                Our lifestyles lead to an increase in atmospheric CO2 concentration and this is known as our carbon footprint.An average world citizen has a carbon footprint of about 5 tons (though of course this varies greatly across countries and lifestyles) . You can thus neutralize your carbon footprint by paying for the required number of tons through any of our listed projects.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-right-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">How will I know whether my contribution is being utilized in the way you say it is?</p>
            </div>
            <p class="question-answer">
                Earth 47 will send you a retirement certificate once carbon credits are retired basis your contribution. We typically retire credits once a month, though it might take longer in some cases.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-left-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">How can I keep track of the progress of the project I am contributing to?</p>
            </div>
            <p class="question-answer">
                Earth 47 will send you a project progress update once every 6 months.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-right-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">How much service fee does Earth 47 retain from my contribution?</p>
            </div>
            <p class="question-answer">
                Earth 47 keeps 10% of the money raised on the platform as service fee to cover the following:
            </p>
            <ul>
                <li>Payment gateway charges</li>
                <li>Registry fees</li>
                <li>Banking charges</li>
                <li>Project discovery fees</li>
                <li>Staff and administrative expenses</li>
                <li>Content creation</li>
                <li>Marketing</li>
                <li>Taxes</li>
            </ul>
            <p>These charges are in line with any crowdfunding platform across the world.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 question-block question-left-padding">
            <div class="statement-wrap">
                <div class="question-bullet"></div>
                <p class="question-statement">Do you offer refunds?</p>
            </div>
            <p class="question-answer">
                Your contribution goes towards the purchase of carbon credits, which are retired. There is no way to undo this transaction. Hence, Earth 47 does not offer refunds.
            </p>
        </div>
    </div>
  </div>
</div>
