<!--  <script>
    var images;
    var isMobile = false;
    images=new Array('../src/images/illustrations/home-background.svg', '../src/images/illustrations/our-story-illustration.svg');
    if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/iPhone/i)) {
        isMobile = true;
    } 
    // $('.home-view .top-block').css('background-image','url("https://www.earth47.com/src/images/illustrations/solar-panel.JPG")');
    // doSlideshow();

    function doSlideshow(){
        var nextimage=0;
        if(nextimage>=images.length){nextimage=0;}
        $('.home-view .top-block')
        .css('background-image','url("'+images[nextimage]+'")')
        .fadeIn(1000 ,function(){
            setTimeout(doSlideshow,10000);
        });
        if (nextimage === 1) {
            if (isMobile) {
                $('.home-view .top-block').css('background-position', 'left -165px bottom -12px');
                $('.home-view .top-block').css('background-size', 'cover');
            } else {
                $('.home-view .top-block').css('background-position', 'right -150px bottom -30px');
            }
            $('.home-view .home-main-header').text('Build the world you wish to live in.')
        } else {
             if (isMobile) {
                $('.home-view .top-block').css('background-position', 'right 25% bottom 0');   
                $('.home-view .top-block').css('background-size', 'cover');
             } else {
               $('.home-view .top-block').css('background-position', 'unset');
             }
             $('.home-view .home-main-header').text('Crowdfunding to fight climate change.')
        }
        nextimage++;
    }

</script> -->
<div class = "solar-view">
    <div class="top-block">
        <div class="section-header">
            <div class="header-block">
                <div style="color: #88D20B;" class="header-text-item">GO</div>
                <div style="color: #88D20B;" class="header-text-item">SOLAR.</div>
                <div style="color: #88D20B;" class="header-text-item">REDUCE YOUR</div>
                <div style="color: #88D20B;" class="header-text-item">ELECTRICITY</div>
                <div style="color: #88D20B;" class="header-text-item">BILLS BY</div>
                <div style="color: #88D20B;" class="header-text-item">90%</div>
            </div>
            <div class="view-projects-button-block">
                <button class="btn btn-primary view-projects-button" ng-click="goToHowThisWorks();">LEARN MORE</button>
            </div>
        </div>
        <div class="image-block">
          <div class="solar-panel-image"></div>
        </div>
    </div>
    <div class="why-us-block">
        <div class="block-item">
            <div class="item-header">WHY SOLAR?</div>
            <div class="item-description">
                Simply because putting up solar panels in
                your home is the best use of your money.
                And it also saves the environment :)
            </div>
            <div class="item-list">
                <div class="list-item">
                    <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">0 Rs.*</div></div>
                    <div class="list-item-description">The amount of electricity bill you pay after installing solar</div>
                </div>
                <div class="list-item">
                    <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">5 years</div></div>
                    <div class="list-item-description">The time it takes to recover your investment through electric bill savings</div>
                </div>
                <div class="list-item">
                    <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">20%</div></div>
                    <div class="list-item-description">Return on your investment vs the 7.5% you get on a fixed deposit</div>
                </div>
                <div class="list-item">
                    <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">25 years</div></div>
                    <div class="list-item-description">Life of solar panels. Install once and use forever</div>
                </div>
                <div class="list-item">
                    <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">Zero</div></div>
                    <div class="list-item-description">The amount of maintenance required</div>
                </div>
                <div class="help-text">
                  *This refers to only unit consumption charges. You will still
                  need to pay the nominal fixed monthly charges for
                  maintaining your connection with the grid
                </div>
            </div>
        </div>
        <div class="block-item">
            <div class="item-header">WHY CHOOSE US?</div>
            <div class="item-description">
                When you choose Earth 47, you are
                choosing a name you can trust. With Earth
                47 you get:
            </div>
            <div class="item-list">
                <div class="list-item">
                  <div class="list-item-header"><span class="bullet"></span><div class="header-text">World class technology</div></div>
                  <div class="list-item-description">We only use the highest quality, world renowned components</div>
                </div>
                <div class="list-item">
                  <div class="list-item-header"><span class="bullet"></span><div class="header-text">Custom design</div></div>
                  <div class="list-item-description">Our team studies your home and designs a system according to your requirements</div>
                </div>
                <div class="list-item">
                  <div class="list-item-header"><span class="bullet"></span><div class="header-text">No hidden costs</div></div>
                  <div class="list-item-description">With us as your partners, what you see is what you pay.</div>
                </div>
                <div class="list-item">
                  <div class="list-item-header"><span class="bullet"></span><div class="header-text">Priority service</div></div>
                  <div class="list-item-description">Our teams will always be available to resolve any problems you might face</div>
                </div>
                <div class="list-item">
                  <div class="list-item-header"><span class="bullet"></span><div class="header-text">Guaranteed performance</div></div>
                  <div class="list-item-description">We provide you a 5 year warranty for the whole system. You can count on us</div>
                </div>
            </div>
        </div>
        <div class="block-item">
            <div class="item-header">
                OUR CUSTOMERS
            </div>
            <div class="item-description">
            Earth 47 and its partners have an
            established track record of delivery and
            customer satisfaction.
            </div>
            <div class="item-list">
                <div class="list-item">
                    <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">4 crores</div></div>
                    <div class="list-item-description"><span class="bullet"></span>Value of projects executed by us across India</div>
                </div>
                <div class="list-item">
                    <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">80+ lacs</div></div>
                    <div class="list-item-description">Delivered in electric bill savings per year</div>
                </div>
                <div class="list-item">
                    <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">120+ customers</div></div>
                    <div class="list-item-description">
                        We have executed multiple rooftop projects across homes, schools,
                        showrooms, petrol pumps, colleges and more</div>
                </div>
                <div class="list-item">
                    <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">650+ kW</div></div>
                    <div class="list-item-description">Total capacity installed across projects</div>
                </div>
                <div class="testimonial-block">
                    <i>
                        <div>
                          "All you have to do is place the order.
                          Earth 47 will take care of the rest."
                        </div>
                        <div style="text-align: right;margin-top: 8px;">
                          Neelesh Mutha, Baroda
                        </div>
                    </i>
                </div>
            </div>
        </div>
    </div>
    <div class="how-it-works">
        <div class="section-header">How it works</div>
        <div class="background-illus"></div>
        <div class="main-block">
          <div class="hiw-block-item">
            <div class="block-item-header"><div class="item-index">1</div>Solar panels</div>
            <div class="block-item-description">
              Solar panels are the most important
              component of your rooftop system. They
              convert the sunlight falling on your roof to
              DC electricity, which is then fed to the
              inverter
            </div>
          </div>
          <div class="hiw-block-item">
            <div class="block-item-header"><div class="item-index">2</div>Inverter</div>
            <div class="block-item-description">
              Inverters are the heart of a solar system.
              The DC electricity produced by solar
              panels can't directly be used in our
              homes. The inverter converts it into usable
              AC electricity to power our appliances
            </div>
          </div>
          <div class="hiw-block-item">
            <div class="block-item-header"><div class="item-index">3</div>Distribution box</div>
            <div class="block-item-description">
              This box is the junction where all the load
              from the house and wiring from the
              inverter are connected. It has a bunch of
              safety features like fuses to cut supply if
              the current exceeds a safe amount
            </div>
          </div>
          <div class="hiw-block-item">
            <div class="block-item-header"><div class="item-index">4</div>Load</div>
            <div class="block-item-description">
              This refers to all the electrical appliances
              in your house like fans, bulbs, TVs, ACs,
              Fridge, Washing machine etc which
              consume electricity
            </div>
          </div>
          <div class="float-right-block">
            <div class="inner-wrapper">
              <div class="hiw-block-item">
                <div class="block-item-header"><div class="item-index">5</div>Net meter</div>
                <div class="block-item-description">
                  This special meter is capable of running in
                  reverse. It keeps track of difference of
                  electricity generated by your solar system
                  and electricity you use from the grid (like
                  at night). So you only pay if you use more
                  than you produce!
                </div>
              </div>
              <div class="hiw-block-item">
                <div class="block-item-header"><div class="item-index">6</div>Grid</div>
                <div class="block-item-description">
                  The electrical grid which currently powers
                  your home- with all its wires, poles,
                  transformers and power stations
                </div>
              </div>
            </div>
            <div class="item-ext">
              <div>
                Earth 47 always designs systems to
                ensure that your net consumption
                from the grid is ZERO. The energy you
                use from the grid at night is cancelled
                out by the excess energy you
                generate during the day.
              </div>
              <div style="margin-top: 30px;">
                With Earth 47, you will never have to
                pay for electricity again!
              </div>
              <div class="price-block">
                System prices start as low as
                Rs. 70K.
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="contact-us-wrapper">
      <div class="contact-us-block">
        <p class="contact-us-header" style="color: #88D20B;">Contact us to learn more.</p>
    <div class="contact-inner-wrapper">
      <div class="contact-info-block">
      <div class="info-item">
        <p class="item-label">EMAIL</p>
        <p class="item-value">info@earth47.com</p>
      </div>
      <div class="info-item">
        <p class="item-label">MOBILE NUMBER</p>
        <p class="item-value">+91-9741704982</p>
      </div>
      <div class="info-item">
        <p class="item-label">OFFICE LOCATION</p>
        <p class="item-value">
            #175, 176, Dollars colony, Bannerghatta road, JP Nagar phase 4, Bangalore - 560076
        </p>
      </div>
    </div>
    <div class="form-block">
      <div>
        <p class="form-block-header">DROP YOUR MESSAGE</p>
        <form class="contact-us-form" name="contactUsForm" novalidate>
            <div class="field-block">
                <input class="field-input" type="text" name="name" ng-model="name" placeholder="Name" required>
                <div class="error-state" ng-show="contactUsForm.name.$touched && contactUsForm.name.$invalid">Name is required.</div>
            </div>
            <div class="field-block">
                <input class="field-input" type="email" name="email" ng-model="email" placeholder="Email address" required>
                <div class="error-state" ng-show="contactUsForm.email.$touched && contactUsForm.email.$error.required">Email is required.</div>
                <div class="error-state" ng-show="contactUsForm.email.$touched && contactUsForm.email.$error.email">Email is not valid.</div>
            </div>
            <div class="field-block">
                <input class="field-input" type="number" name="phone" ng-model="phone" placeholder="Phone no.">
            </div>
            <div class="field-block">
                <textarea class="field-input message-textarea field-input-message" name="message" rows="2" cols="50" 
                    ng-model="message"
                    placeholder="Your message" required></textarea>
                <div class="error-state message-error-state" ng-show="contactUsForm.message.$touched && contactUsForm.message.$error.required">Message is required.</div>
            </div>
            <button class="btn btn-primary send-message-button" ng-click="submitForm()" ng-disabled="!contactUsForm.$valid">SEND MESSAGE</button>
        </form>
      </div>
      <div ng-show="success" class="success-block">
        <img class="success-tick" src="../src/images/illustrations/ic-tick.svg">
        <p class="success-message">
            Thanks for reaching out. We will respond to your message shortly.

        </p>
        <button class="btn btn-primary send-message-button button-width"
            ng-click="successDone();"
            >DONE</button>
      </div>
    </div>
  </div>
    
    <blogs-corousel></blogs-corousel>


</div>
