<div class="howwe-fight-block">
    <div class="how-this-works">
        <div class="block-item">
            <p class="item-label">A fundamental shift</p>
            <p class="item-description">
                Fighting climate change requires a fundamental shift in our lifestyles and economy. We need to transition from non-renewable, polluting, environmentally destructive energy generation, transportation and land use to a greener, sustainable way of life. 
                While many people around the world are taking action to help this transition, their efforts are often not financially viable due to the large investment and low return involved. 
            </p>
        </div>
        <div class="read-more-wrap">
            <div class="block-item">
                <p class="item-label">A collaborative solution</p>
                <p class="item-description">
                    This is where you and Earth 47 come in. Earth 47 selects world-class projects which are working towards building a greener future by reducing CO2 emissions, the principal cause of climate change, and lists them on its site. When you choose to support a project, you offset your carbon footprint by ensuring the project remains financially viable and can continue to aid in the transition to a greener future.
                </p>
            </div>
            <div class="block-item">
                <p class="item-label">A measurable difference</p>
                <p class="item-description">
                    Each project undergoes a strict third party audit according to rules laid down by the United Nations Framework Convention on Climate Change (UNFCCC) and Gold Standard to determine the reduction in CO2 emissions. Post the audit, the project is allocated 1 carbon credit for each ton of CO2 emissions it reduces. It is these carbon credits that Earth 47 purchases on your behalf and retires to a registry (removes from circulation) when you make a donation, thus ensuring that your contribution has a definite and measurable impact.
                </p>
                <p class="item-description">
                    We ensure that each project adheres to the principle of additionality. What this means is that we ensure that each ton of CO2 that the project removes is over and above what would have happened if the project didn’t exist.
                </p>
                <p class="item-description">
                    In other words, Earth 47 projects exist and can fight climate change only because of your support. This is how we are making a difference together!
                </p>
            </div>
            <div class="block-item">
                <p class="item-label">The financials</p>
                <p class="item-description">
                    90% of your funding goes directly to the projects.The remaining 10% goes to cover expenses like credit card fees, project research, carbon credit registry fees, administrative costs, salaries and growing the platform to spread the word further. 
                </p>
            </div>
            <div class="block-item">
                <p class="item-label">Spread the word</p>
                <p class="item-description">
                    You can help in this endeavour by not just supporting the projects yourself, but also by getting more people to join the fight against climate change. Together, all of us can build a greener future.
                </p>
            </div>
        </div>
        <!-- <p class="margin-bottom-30">
            Fighting climate change requires a fundamental shift in our lifestyles and economy. We need to transition from non-renewable, polluting, environmentally destructive energy generation, transportation and land use to a greener, sustainable way of life. While many people around the world are taking action to help this transition, their efforts are often not financially viable. Transitioning to a completely green economy will require 3 trillion dollars worth of investment over the next 30 years. This is where you and Earth 47 come in. Earth 47 selects world-class projects which are working towards building a greener future by reducing CO<sub>2</sub> emissions and lists them on its site. When you choose to support a project, you offset your carbon footprint by ensuring the project remains financially viable and can continue to aid in the transition to a greener future .
        </p>
        <p class="margin-bottom-30">
            We ensure that each project adheres to the principle of additionality. What this means is that we ensure that each ton of 
            CO<sub>2</sub> that the project removes is over and above what would have happened if the project didn’t exist. Each ton of 
            CO<sub>2</sub> removed equals 1 carbon credit allotted to the project. It is these carbon credits that Earth 47 purchases on your behalf and retires to a registry (removes from circulation) when you make a donation. If a carbon removal project is a profitable venture without the added income from the sale of carbon credits, or can survive for any other reason—such as regulation, common practice, or government funding—it cannot be additional. 
        </p>
        <div class="read-more-wrap">
            <p class="margin-bottom-30 font-weight-bold">
                In other words, Earth 47 projects exist and can fight climate change only because of your support. This is how we are making a difference together!
            </p>
            <p class="margin-bottom-30">
                Earth 47 strives to be completely transparent in its working. 90% of your funding goes directly to the projects.The remaining 10% goes to cover expenses like credit card fees, project research, carbon credit registry fees, administrative costs, salaries and growing the platform to spread the word further. 
            </p>
            <p class="margin-bottom-30">
                You can help in this endeavour by not just supporting the projects yourself, but also by getting more people to join the fight against climate change. Together, all of us can build a greener future.
            </p>
        </div> -->
        <div class="continue-reading-block">
            <button class="btn btn-primary continue-reading-button" ng-click="continueReading();">CONTINUE READING</button>
        </div>
    </div>
</div>
