<div class="partners-block">
	<div class="our-team-block">
		<p class="header">Our Team</p>
		<div class="team-members-block">
			<div class="team-member-item" ng-mouseover="showOverlayTeam1 = true" ng-mouseleave="showOverlayTeam1 = false">
				<img class="member-image" src="src/images/illustrations/akhil-puri.jpg">
				<p class="member-name">Akhil Puri</p>
				<p>Founder</p>
				<div class="item-overlay" ng-show="showOverlayTeam1">
					CEO, Reach me on akhil@earth47.com
				</div>
			</div>
			<div class="team-member-item" ng-mouseover="showOverlayTeam2 = true" ng-mouseleave="showOverlayTeam2 = false">
				<img class="member-image" src="src/images/illustrations/shrey_kant.jpg">
				<p class="member-name">Shrey Kant</p>
				<p>Co-Founder</p>
				<div class="item-overlay" ng-show="showOverlayTeam2">
					Tech, Operations. Reach me on shrey@earth47.com
				</div>
			</div>
		</div>
	</div>
	<div class="our-partners-block">
		<p class="header">Our Partners</p>
		<div class="partners-main-block">
			<div class="partner-item-block" ng-mouseover="showOverlayPartner1 = true" ng-mouseleave="showOverlayPartner1 = false">
				<img class="partner-image" src="src/images/illustrations/partner-logo.png">
				<p class="partner-name">Environmental Protection Agency</p>
				<div class="item-overlay" ng-show="showOverlayPartner1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor ante odio, ac pellentesque erat consequat vitae. Donec dignissim, sem feugiat laoreet aliquam, nibh nisl lacinia diam,
				</div>
			</div>
			<div class="partner-item-block" ng-mouseover="showOverlayPartner2 = true" ng-mouseleave="showOverlayPartner2 = false">
				<img class="partner-image" src="src/images/illustrations/partner-logo.png">
				<p class="partner-name">Environmental Protection Agency</p>
				<div class="item-overlay" ng-show="showOverlayPartner2">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor ante odio, ac pellentesque erat consequat vitae. Donec dignissim, sem feugiat laoreet aliquam, nibh nisl lacinia diam,
				</div>
			</div>
			<div class="partner-item-block" ng-mouseover="showOverlayPartner3 = true" ng-mouseleave="showOverlayPartner3 = false">
				<img class="partner-image" src="src/images/illustrations/partner-logo.png">
				<p class="partner-name">Environmental Protection Agency</p>
				<div class="item-overlay" ng-show="showOverlayPartner3">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor ante odio, ac pellentesque erat consequat vitae. Donec dignissim, sem feugiat laoreet aliquam, nibh nisl lacinia diam,
				</div>
			</div>
			<div class="partner-item-block" ng-mouseover="showOverlayPartner4 = true" ng-mouseleave="showOverlayPartner4 = false">
				<img class="partner-image" src="src/images/illustrations/partner-logo.png">
				<p class="partner-name">Environmental Protection Agency</p>
				<div class="item-overlay" ng-show="showOverlayPartner4">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor ante odio, ac pellentesque erat consequat vitae. Donec dignissim, sem feugiat laoreet aliquam, nibh nisl lacinia diam,
				</div>
			</div>
		</div>
	</div>
    </div>
</div>
