<div class="container-fluid">
  <div class="row our-story-block">
    <div class="col-md-5 col-sm-5 testimonial-block testimonial-block-dektop">
      <div class="position-relative">
        <span class="left-quote">“</span>
        <span class="right-quote">”</span>
        <p class="block-message">
          Climate change is a wake up call for us to shift to clean energy and build a better tomorrow for us and our children.
        </p>
      </div>
      <img class="block-image" src="../../src/images/illustrations/akhil-puri.jpg">
      <p class="block-name">Akhil Puri</p>
      <p class="block-profession">Founder, Earth 47</p>
    </div>
    <div class="story-block">
      <p>
          The idea of Earth 47 took birth in the sprawling Indian metropolis of Bangalore, India. Bangalore for many decades was an idyllic place for people to retire to because of its peaceful way of life, devoid of the chaos and pollution which is so often an inevitable part of an urban existence. Sadly, the city’s transformation from the ‘Garden city of India’ to the ‘Silicon valley of India’ has brought it to the verge of death. The city has lost 66% of its tree cover and 74% of its water bodies in the last 4 decades. While temperatures, which once rarely, if ever, crossed 30 degrees even in peak summer, hit 39.2 degrees in 2016. The city’s famous weather, often described as ‘naturally air conditioned’ is slowly, but surely, becoming a thing of the past- making the harsh truth of climate change undeniably real and personal.
      </p>
      <div class="read-more-wrap">
        <p class="block-margin">
          Unfortunately this is a story which has become all too common across the globe and our unsustainable development has brought us to the brink of an existential crisis. From rising sea levels causing displacement at an unprecedented scale, to changing weather patterns harming crops, causing devastating floods in some areas to catastrophic droughts and heat waves in others, climate change threatens to destroy the way of life we have built over hundreds and thousands of years.
        </p>
        <p class="block-margin">
          However, climate change is also an opportunity for us to reshape and rebuild our world into a cleaner, greener, more equitable and sustainable one. Using it as a wake up call and finding solutions can make the future better for all of us.
        </p>
        <p class="block-margin">
          If we are to utilize this opportunity however, business as usual is not an option. This isn’t something that can be tackled by one individual, organization or country. Only by taking collective action can we avoid catastrophic temperature rise and transform our world for the better.
        </p>
        <p>
          Recognizing this need, Earth 47 is focusing on helping individuals, businesses and institutions reduce their dependence on polluting coal based energy and go green by utilizing their rooftop for generating clean solar energy. This not only helps them reduce their carbon footprint, but also leads to massive savings on electricity bills- making it a win-win solution for everyone. It is our aim to build a better tomorrow together, one solar powered rooftop at a time.
        </p>
      </div>
      <div class="continue-reading-block">
        <button class="btn btn-primary continue-reading-button" ng-click="continueReading();">CONTINUE READING</button>
      </div>
    </div>
    <div class="display-flex-justify-center">
      <div class="col-xs-12 testimonial-block testimonial-block-mweb">
        <div class="position-relative">
          <span class="left-quote">“</span>
          <span class="right-quote">”</span>
          <p class="block-message">
            Climate change is a wake up call for us to shift to clean energy and build a better tomorrow for us and our children.
          </p>
        </div>
        <img class="block-image" src="../../src/images/illustrations/akhil-puri.jpg">
        <p class="block-name">Akhil Puri</p>
        <p class="block-profession">Founder, Earth 47</p>
      </div>
    </div>
  </div>
</div>
