<div class="terms-block">
    <p class="terms-main-header">Privacy policy</p>

    <p class="section-header">
        APPLICATION OF THIS POLICY
    </p>
    <p class="section-description">
        VM Puri Environmental Solutions (“we”, “our” or “us”) respects your privacy and is committed to protecting it through our compliance with this policy. Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies or practices, you can stop accessing or using our Website. By accessing or using our Website, you agree to this privacy policy.
    </p>
    <p class="section-description">
        This policy describes the types of information we may collect from you or that you may provide when you visit our website, https://www.earth47.com and our practices for collecting, using, maintaining, protecting and disclosing that information.
    </p>
    <p class="section-description">
        This policy applies to information we collect on the Website and in e-mail and other communications between you and us. It does not apply to information collected by:
        (a) us offline or through any other means, including on other websites operated by third parties; or
        (b) any third party (including our affiliates), including through any application or content that may link to or be accessible from our Website. When you access a third party website (such as a social networking website), we are not responsible for the privacy practices of that site or the relevant third party. You should review the privacy policies of each website you visit and each social networking service you use (including understanding how you can change your privacy settings with those services)
    </p>

    <p class="section-header">WHAT DO WE DO WITH YOUR INFORMATION?</p>
    <p class="section-description">
        We collect several types of information from and about users of our Website, including information:
    </p>
    <div class="section-description">
        (a) by which you may be personally identified, such as your name, postal address, e-mail address, telephone number or any other identifier by which you may be contacted online or offline (“personal information”);
    </div>
    <p class="section-description">
        (b) that is about you but individually does not identify you, such as your IP address, some types of profile information and content that you post on the Website; and (c) about your internet connection, the equipment you use to access our Website and usage details.
    </p>
    <p class="section-description">
        We collect this information directly from you when you voluntarily provide it to us and/or automatically as you navigate through the Website.
    </p>

    <div class="section-description">
        Information You Voluntarily Provide to Us. The information we collect on or through our Website may include:
    </div>
    <div class="section-description">
        a) information that you provide by filling in forms on our Website or engaging with certain services provided by our Website, such as information you provide to us at the time of subscribing to our newsletters, donating to our causes, signing up for and participating in our campaigns, causes or features and placing orders on our Website;
    </div>
    <div class="section-description">
        b) records and copies of your correspondence (including e-mail addresses) if you contact us;
    </div>
    <p class="section-description">
        c) details of transactions you carry out through our Website and of the fulfillment of your orders. You will be required to provide credit card information before donating on our Website.
    </p>
    <div class="section-description">
        Automatically Collected Data. As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions and patterns, including:
    </div>
    <div class="section-description">
        a) details of your visits to our Website, including traffic data, location data, logs and other communication data and the resources that you access and use on the Website;
    </div>
    <div class="section-description">
        b) information about your computer and internet connection, including your IP address, operating system and browser type;
    </div>
    <p class="section-description">
        c) other information obtained through third party analytics tools. These third party tools may transfer the information to other third parties where required to do so by law, or where such third parties process the information on their behalf.
    </p>
    <p class="section-header">HOW WE USE YOUR INFORMATION</p>
    <div class="section-description">
        We use information that we collect about you or that you provide to us:
    </div>
    <div class="section-description">
        a) to present our Website to you and others, including the content, features, applications and functionalities made available via our Website.
    </div>
    <div class="section-description">
        b) to provide you with information about causes, campaigns, products, or services that you may be interested in. This information will be limited to our causes, campaigns, products or services or the causes or campaigns of our third party partners;
    </div>
    <div class="section-description">
        c) to provide you with notices about your account;
    </div>
    <div class="section-description">
        d) to carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection;
    </div>
    <div class="section-description">
        e) to notify you about changes to our Website;
    </div>
    <div class="section-description">
        f) to allow you to participate in interactive features on our Website;
    </div>
    <div class="section-description">
        g) in any other way we may describe when you provide the information; and
    </div>
    <div class="section-description">
        h) for any other purpose with your consent.
    </div>
    <div class="section-description">
        i) to notify you about updates to our blog
    </div>
    <p class="section-description">
        j) to send you our newsletter if you have opted in
    </p>
    <p class="section-header">DISCLOSURE OF YOUR INFORMATION</p>
    <p class="section-description">
        We may aggregate data about our users and information that does not identify any individual (“Aggregate Anonymized Data”). We may use and disclose Aggregate Anonymized Data without restriction.
    </p>
    <div class="section-description">
        We may disclose personal information that we collect or that you provide as described in this privacy policy:
    </div>
    <div class="section-description">
        a) to our affiliates;
    </div>
    <div class="section-description">
        b) to contractors, service providers and other third parties we use to support our business; or
    </div>
    <p class="section-description">
        c) to our buyer or other successor, such as in the event of a merger, divestiture, restructuring, reorganization, dissolution or other sale or transfer of some or all of our assets, in which personal information held by us about our Website users is among the assets transferred.
    </p>
    <div class="section-description">
        We may also disclose your personal information:
    </div>
    <div class="section-description">
        a) to comply with any court order, law or legal process, including to respond to any government or regulatory request;
    </div>
    <div class="section-description">    
        b) to enforce or apply our terms of use or terms of sale (if applicable), including for billing and collection purposes; or
    </div>
    <p class="section-description">    
        c) if we believe disclosure is necessary or appropriate to protect the rights, property or safety of us or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.
    </p>
    <p class="section-header">CONSENT</p>
    <div class="section-description font-weight-bold">How do you get my consent?</div>
    <div class="section-description">
        When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.
    </div>
    <div class="section-description">
        If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.    
    </div>
    <div class="section-description font-weight-bold">
        How do I withdraw my consent?
    </div>
    <p class="section-description">
        If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at info@earth47.com or mailing us at: VM Puri Environmental Solutions, B6-501, L&T South City, Arekere Mico Layout, Bangalore, India-560076.
    </p>

    <p class="section-header">DISCLOSURE</p>
    <p class="section-description">
        We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
    </p>

    <p class="section-header">PAYMENT</p>
    <div class="section-description">
        We use Razorpay for processing payments. We/Razorpay do not site your card data on their servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is not saved.
    </div>
    <div class="section-description">
        Our payment gateway adheres to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.
    </div>
    <p class="section-description">
        PCI-DSS requirements help ensure the secure handling of credit card information by our site and its service providers.
        For more insight, you may also want to read terms and conditions of razorpay on https://razorpay.com
    </p>

    <p class="section-header">THIRD PARTY USE OF COOKIES AND OTHER TRACKING TECHNOLOGIES</p>
    <p class="section-description">
        Some content or applications on our Website are served by third parties (such as Facebook which allows you to create an account with us via your Facebook account). These third parties may use cookies alone or in conjunction with web beacons or other tracking technologies to collect information about you when you use our Website.
    </p>
    <p class="section-description">
        We do not control these third parties’ tracking technologies or how they may be used. If you have any questions about these third parties’ privacy policy, you should contact the responsible provider directly.
    </p>
    <p class="section-description">
        In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.
        However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
        For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.
        In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.
        Once you leave our site’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.
        Links
    </p>
    <p class="section-description">
        When you click on links on our site, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.
    </p>
    <p class="section-header">SECURITY</p>
    <p class="section-description">
        To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
    </p>
    <div class="section-description">
        The safety and security of your information also depends on you. Where you have chosen a password for access to certain parts of our Website, you are responsible for keeping this password confidential. We ask you not to share your password with anyone. The information you share in public areas may be viewed by any user of our Website. If you have created an account or have logged onto the Website via your social media account (such as your Facebook account), you are responsible for maintaining the security of your login credentials in accordance with the instructions and policies of the relevant social media provider.
    </div>
    <p class="section-description">
        Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Website. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on our Website.
    </p>

    <p class="section-header">COOKIES</p>
    <p class="section-description">
        We use cookies to maintain session of your user. It is not used to personally identify you on other websites.
    </p>
    <p class="section-header">AGE OF CONSENT</p>
    <p class="section-description">
        By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
    </p>

    <p class="section-header">CHANGES TO THIS PRIVACY POLICY</p>
    <div class="section-description">
        We will post any changes we make to our privacy policy on this page. You are responsible for ensuring that we have an up-to-date active and deliverable e-mail address for you, and for periodically visiting our Website and this privacy policy to check for any changes. Please review the changes carefully. If you do not agree to any of the changes, you should stop using our Website. Unless stated otherwise, our current policy applies to all information that we have about you and your account. Using the Website after a notice of changes has been communicated to you or published on our Website will mean that you have consented to the changed terms or practices.
    </div>
    <p class="section-description">
        If our site is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell services to you.
    </p>
    <p>
        CONTACT INFORMATION
    </p>
    <p class="section-description font-weight-bold">
        If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at info@earth47.com or by mail at VM Puri Environmental Solutions, B6-501, L&T South City, Arekere Mico Layout, Bangalore, India-560076.
    </p>
</div>
