<div class = "solar-view">
    <div class="top-block">
        <div class="section-header">
            <div class="header-block">
                <div style="color: #88D20B;" class="header-text-item">GO</div>
                <div style="color: #88D20B;" class="header-text-item">SOLAR.</div>
                <div style="color: #88D20B;" class="header-text-item">NEVER</div>
                <div style="color: #88D20B;" class="header-text-item">PAY FOR</div>
                <div style="color: #88D20B;" class="header-text-item">ELECTRICITY</div>
                <div style="color: #88D20B;" class="header-text-item">AGAIN.</div>
            </div>
            <div class="view-projects-button-block">
                <button class="btn btn-primary view-projects-button" ng-click="goToHowThisWorks();">LEARN MORE</button>
            </div>
        </div>
        <div class="image-block">
          <div class="solar-panel-image"></div>
        </div>
    </div>
    <div class="block-item">
      <div class="item-header">
        OUR CUSTOMERS
      </div>
      <div class="item-description">
        Earth 47 and its partners have an
        established track record of delivery and
        customer satisfaction.
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">4 crores</div></div>
          <div class="list-item-description"><span class="bullet"></span>Value of projects executed by us across India</div>
        </div>
        <div class="list-item">
          <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">80+ lacs</div></div>
          <div class="list-item-description">Delivered in electric bill savings per year</div>
        </div>
        <div class="list-item">
          <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">120+ customers</div></div>
          <div class="list-item-description">
            We have executed multiple rooftop projects across homes, schools,
            showrooms, petrol pumps, colleges and more</div>
        </div>
        <div class="list-item">
          <div class="list-item-header font-size-40"><span class="bullet"></span><div class="header-text">650+ kW</div></div>
          <div class="list-item-description">Total capacity installed across projects</div>
        </div>
        <div class="testimonial-block">
          <i>
            <div>
              "All you have to do is place the order.
              Earth 47 will take care of the rest."
            </div>
            <div style="text-align: right;margin-top: 8px;">
              Neelesh Mutha, Baroda
            </div>
          </i>
        </div>
      </div>
    </div>
</div>
