<div class="testimonials-main-block">
    <slick infinite="true" slides-to-scroll="1"
        settings="slickConfig">
        <div class="first slide-content">
            <div class="testimonial-slide">
                <div class="testimonials-mobile">
                    <span class="left-quote">“</span>
                    <span class="right-quote">”</span>
                    <p class="testimonial-message">
                        I believe we will come together to fix climate change- simply because not doing it is not an option.
                    </p>
                    <img class="employee-image" src="../src/images/illustrations/rishabh_bindal.jpg">
                    <p class="employee-name">Rishabh Bindal</p>
                    <p class="designation">Engineer</p>
                </div>
                <div class="testimonials-desktop">
                    <img class="employee-image" src="../src/images/illustrations/rishabh_bindal.jpg">
                    <div class="testimonial-details">
                        <span class="left-quote">“</span>
                        <span class="right-quote">”</span>
                        <p class="testimonial-message">
                            I believe we will come together to fix climate change- simply because not doing it is not an option.
                        </p>
                        <p class="employee-name">Rishabh Bindal</p>
                        <p class="designation">Engineer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="second slide-content">
            <div class="testimonial-slide">
                <div class="testimonials-mobile">
                    <span class="left-quote">“</span>
                    <span class="right-quote">”</span>
                    <p class="testimonial-message">
                        We need a better future for us and our children. This is our opportunity to build it.
                    </p>
                    <img class="employee-image" src="../src/images/illustrations/shrey_kant.jpg">
                    <p class="employee-name">Shrey Kant</p>
                    <p class="designation">Engineer</p>
                </div>
                <div class="testimonials-desktop">
                    <img class="employee-image" src="../src/images/illustrations/shrey_kant.jpg">
                    <div class="testimonial-details">
                        <span class="left-quote">“</span>
                        <span class="right-quote">”</span>
                        <p class="testimonial-message">
                            We need a better future for us and our children. This is our opportunity to build it.
                        </p>
                        <p class="employee-name">Shrey Kant</p>
                        <p class="designation">Engineer</p>
                    </div>
                </div>
            </div>
        </div>
    </slick>
</div>
