<div class="thankyou-block">
    <div>
        <p class="superhero">Thank you! You are super cool...like Batman!</p>
        <p class="thankyou-message">Your payment of <span class="amount-paid">Rs 1000 </span>has been received successfully</p>
        <div class="social-media-block social-links-desktop">
          <p class="font-size-24">Your contribution inspires others to act.</p>
          <p class="font-size-16">Help spread the word to make an even bigger difference in this fight.</p>
          <!-- <div class="display-flex-center social-media-links">
            <img class="social-media-icon" id = "share_button"
              src="../../src/images/illustrations/facebook-icon.svg"
              ng-click="shareOnFb($event)">
            <a href="https://twitter.com/intent/tweet?url={{currentPageUrl}}&text={{projectObject.title}}"
              target="_blank">
              <img class="social-media-icon" src="../../src/images/illustrations/twitter-icon.svg" />
            </a>
            <a href="https://plus.google.com/share?url={{currentPageUrl}}"
              onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
              <img class="social-media-icon g-plus-icon" src="../../src/images/illustrations/gmail-icon.svg" alt="Share on Google+"/>
            </a>
          </div> -->
          <img src="../src/images/illustrations/fb.svg">
          <img src="../src/images/illustrations/twitter.svg">
          <img src="../src/images/illustrations/reddit.svg">
          <div class="font-size-16 newsletter-reminder">
            <p class="font-size-24">Interested in the latest on climate change?</p>
            <p>To save you the trouble of signing up, we have added your email to our newsletter.</p>
            <p>Click <a href="" class="unsubcribe-link">here</a>, if you wish to opt-out of the same.</p>
          </div>
        </div>
    </div>
    <div class="image-block">
        <img src="../../src/images/illustrations/thanku-screen.svg" style="width: 350px;">
    </div>
    <div class="social-media-block social-links-mweb">
          <p class="join-fight">Your contribution inspires others to act. Help the penguins get more allies.</p>
          <!-- <div class="display-flex-center social-media-links">
            <img class="social-media-icon" id = "share_button"
              src="../../src/images/illustrations/facebook-icon.svg"
              ng-click="shareOnFb($event)">
            <a href="https://twitter.com/intent/tweet?url={{currentPageUrl}}&text={{projectObject.title}}"
              target="_blank">
              <img class="social-media-icon" src="../../src/images/illustrations/twitter-icon.svg" />
            </a>
            <a href="https://plus.google.com/share?url={{currentPageUrl}}"
              onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
              <img class="social-media-icon g-plus-icon" src="../../src/images/illustrations/gmail-icon.svg" alt="Share on Google+"/>
            </a>
          </div> -->
          <img src="../src/images/illustrations/fb.svg">
          <img src="../src/images/illustrations/twitter.svg">
          <img src="../src/images/illustrations/reddit.svg">
        </div>
</div>
