.projects-support-block {
    margin: 4%;
    background-color: #ffffff;
    box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.05);
    border: solid 0.5px #f0f0f5;
    padding: 7%;

    .block-title {
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        color: #414146;
    }

    .project-image {
        width: 100%;
        cursor: pointer;
    }

    .project-details {
        margin-top: 17px;

        .project-title {
            font-size: 20px;
            font-weight: 900;
            text-align: left;
            color: #414146;
            cursor: pointer;
        }

        .project-detail-common {
            font-size: 13px;
            text-align: left;
            color: #414146;
            margin: 0;
        }

        .project-progress-bar {
            margin-top: 30px;
            height: 5px;
            border-radius: 28px;
            background-color: #f0f0f5;
        }

        .progress-completed {
            height: 5px;
            border-radius: 28px;
            background: #35cf00;
            box-shadow: 0 0 20px 14px rgba(0, 0, 0, 0);
        }

        .goal-acheived {
            font-size: 12px;
            text-align: right;
            color: #787887;
            margin-top: .5em;
        }

        .project-stats {
            margin-bottom: 15px;
        }

        .project-description {
            display: none;
        }
    }

    .slick-dots li button:before {
        font-size: 9px;
    }

    .view-projects-footer {
        text-align: center;
        margin-top: 50px;

        .view-projects-button {
            width: 232px;
            height: 36px;
            border-radius: 6px;
            border: 1px solid #f7821c;
            color: #f7821c;
            font-size: 13px;
            font-weight: 900;
            background: transparent;
            outline: none;
        }
    }
}

@media only screen and (min-width: 768px) { 
    .projects-support-block {
        margin: 0 auto;
        padding: 25px 6%;
        max-width: 1350px;
        margin-top: -80px;
        width: 84%;

        .block-title {
            font-size: 20px;
        }

        .project-card-detail {
            display: flex;
            padding-top: 20px;

            .project-image {
                width: 50%;
                height: 307px;
            }
        }

        .project-details {
            margin-top: 0;
            margin-left: 40px;

            .project-detail-common {
                font-size: 15px;
            }

            .project-title {
                line-height: 1.1;
                margin-bottom: 5px;
            }

            .project-description {
                margin-top: 15px;
                font-size: 16px;
                line-height: 1.3;
                text-align: left;
                color: #787887;
                display: block;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
            }

            .project-progress-bar {
                margin-top: 25px;
            }

            .font-size-10 {
                font-size: 16px;
            }

            .project-stats {
                margin-bottom: 40px;
            }
        }

        .slick-next.slick-arrow {
            background: url(../../src/images/illustrations/project-next.svg);
            background-repeat: no-repeat;
            width:30px;
            height:30px;
            margin-right: -42px;
        }
        .slick-prev:before, .slick-next:before {
            opacity: 0;
            color: transparent;
        }

        .slick-prev.slick-arrow {
            background: url(../../src/images/illustrations/project-prev.svg);
            background-repeat: no-repeat;
            width:12px;
            height:30px;
            margin-left: -24px;
        }

        .slide-content {
            outline: none;
        }

        .view-projects-footer {
            text-align: right;
            margin-top: 0;
        }
    }
}

@media only screen and (min-width: 1024px) { 
    .projects-support-block {

        .project-details {

            .project-detail-common {
                font-size: 18px;
            }

            .project-title {
                font-size: 24px;
            }

            .project-description {
                line-height: 1.58;
            }
        }
    }
}

@media only screen and (min-width: 1112px) { 
    .projects-support-block {

        .project-details {

            .project-title {
                font-size: 30px;
            }
        }
    }
}
